.bg-gradient-custom {
    min-height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #0a58ca, #031633);
}

.register-card {
    border-radius: 15px;
}

.logo {
    width: 80px;
}

.system-title {
    font-weight: bold;
    color: #0d6efd;
}