<!-- MENU LATERAL -->
<div class="col-md-2 bg-light min-vh-100 pt-3 w-100 p-2">

    <h6 class="text-center mb-3">Menu principal</h6>

    <div class="list-group">

        <a routerLink="/pages/dashboard" class="list-group-item list-group-item-action">
            Dashboard
        </a>

        <a routerLink="/pages/cadastrar-categoria" class="list-group-item list-group-item-action">
            Cadastrar categoria
        </a>

        <a routerLink="/pages/consultar-categoria" class="list-group-item list-group-item-action">
            Consultar categoria
        </a>

        <a routerLink="/pages/cadastrar-tarefa" class="list-group-item list-group-item-action">
            Cadastrar tarefa
        </a>

        <a routerLink="/pages/consultar-tarefa" class="list-group-item list-group-item-action">
            Consultar tarefa
        </a>

    </div>

</div>