<!-- MENU SUPERIOR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">

        <a class="navbar-brand" href="/pages/dashboard">WEB-AGENDA</a>

        <div class="d-flex align-items-center text-white">

            <span class="me-3">
                Usuário: <strong>{{ nome() }}</strong> | Perfil: <strong>{{ perfil() }}</strong>
            </span>

            <button class="btn btn-outline-light mr-3 btn-sm" (click)="logout()">
                Sair da agenda
            </button>

        </div>

    </div>
</nav>